### C ###
# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Debug files
.shperso_history
.gdb_history
*.log
*.dSYM/
mushroom.sh

### Project ###
# Subject
*.pdf

# Program
42sh

# Callgraph
callgraph.ps

### Tests ###
test/
log/
tmp

### Build ###
# Prerequisites
dep/

# Object files
obj/

# Command restult buffer
.tmp.txt

### Editor ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Temporary
*~
\#*\#

### macOS ###
# General
.DS_Store

### Ctags ###
tags

42sh.srctrlprj
compile_commands.json
42sh.srctrlbm
42sh.srctrldb

.clang

### Adrien ###
.vimsession
Session.vim
